<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item" style="padding-top: 2rem; padding-bottom: 1rem;">
    <a href="{{ site.url }}"><img style="margin-left: auto; margin-right: auto;" loading="lazy" src="/assets/images/jhoward-greenglow.jpg" alt="Me at the 2017 Howard County Library Evening in the Stacks" width="200px" /></a>
  </div>

  <div class="sidebar-item" style="text-align: center; padding-top: 0px; padding-bottom: 1rem;">
    <form action="/search" method="get">
      <input type="search" id="sidebar-search" name="q" placeholder="Search..." width="300px">
    </form>
  </div>

  <nav class="sidebar-nav">
    {% assign pages_list = site.pages | sort:"menu-order" %}
    {% for node in pages_list %}
      {% if node.menu-label != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.menu-label }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <nav class="sidebar-nav"></nav>
  {% assign pages_list = site.pages | sort:"menux-order" %}
  {% for node in pages_list %}
    {% if node.menu2-label != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.menu2-label }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  </nav>

</div>
