/*
 * Built on top of Lanyon...
 */


/*
 * Contents
 *
 * Global resets
 * Masthead
 * Sidebar
 * Slide effect
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

body {
  background-color: #fcfcfc;
}

.sidebar-toggle {
  background-color: #fcfcfc;
}

/* Quotes */
blockquote cite {
  display: block;
  margin-top: 1rem;
  padding-left: 50%;
}

.highlight {
  margin-left: 0px;
  margin-right: 0px;
}

.highlight pre {
  padding-left: 0px;
  padding-right: 0px;
}

/* Meta data line below post title */
.post-tags {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #808080;
}

/* Meta data line below post title */
.post-date {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Lists */
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.content a {
  color:  #871717;
  text-decoration: underline;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

 .masthead-title a:hover {
  text-decoration: none;
 }
 
.masthead-title small {
  font-size: 60%;
  color: #606060;
}

/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

/* JH Red */
.theme-base-jhred .sidebar,
.theme-base-jhred .sidebar-toggle:active,
.theme-base-jhred #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #871717;
}
.theme-base-jhred .container a,
.theme-base-jhred .sidebar-toggle,
.theme-base-jhred .related-posts li a:hover {
  color: #871717;
}

.images-caption {
  font-size: 75%;
  font-weight: 400;
  color: #606060;
  letter-spacing: 0;
}

/*
 * Social Icons
 */

.social-icon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
  padding-bottom: 3rem;
  padding-top: 1rem;
  padding-left: 0!important;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 6px 0;
  margin: 2px;
  color: #ffffff;
  border-radius: 10%;
  font-size: 1em;
}

.social-icon li a:hover {
  text-decoration: none;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  min-height: 7rem;
  max-height: 7rem;
  border: none;
}

.pagination-item-text {
  margin: auto;
}

.pager {
  font-family: fixed;
  text-align: center;
  position: absolute;
  left: 50px;
  bottom: 20px;
  color: #343;
  font-size: calc(28px + 0.4vmin);
  display: inline-block;
}

.pager a {
  color: #588;
}

.jh-Pagination-list {
    margin: 0;
    padding: 0;
    list-style: none
}

[class^=jh-] {
    font-size: 1rem;
    box-sizing: border-box
}

a[class^=jh-] {
    text-decoration: none
}

.jh-Pagination {
    margin-bottom: 4em;
}

.jh-Pagination-link {
    padding: .3rem .6rem;
    display: block;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
    transition: background-color .2s ease-out;
}

.jh-Pagination-link:focus,
.jh-Pagination-link:hover {
    color: #000000
}

.jh-Pagination-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
}

.jh-Pagination-item-first {
    margin-left: 0;
}

.jh-Pagination-item {
    font-family: sans-serif;
    margin-left: .3rem
}

.jh-Pagination-link {
    padding: .3rem .6rem;
    display: block;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
    transition: background-color .2s ease-out
}

.jh-Pagination-link:focus,
.jh-Pagination-link:hover {
    background-color: #e3e5ec
}

.jh-Pagination-item--disabled .jh-Pagination-link {
    opacity: .6;
    cursor: not-allowed;
    color: #a5abc4
}

.jh-Pagination-item--disabled .jh-Pagination-link:focus,
.jh-Pagination-item--disabled .jh-Pagination-link:hover {
    color: #a5abc4;
    background-color: #fff
}

.jh-Pagination-item--selected .jh-Pagination-link {
    color: #fff;
    background-color: #871717;
    border-color: #871717;
    font-family: sans-serif;
    margin-left: .3rem
}

.jh-Pagination-item--selected .jh-Pagination-link:focus,
.jh-Pagination-item--selected .jh-Pagination-link:hover {
    color: #fff
}

.tag-cloud {
  text-align: center;
}

@media print {
  .container {
    max-width: 80rem;
  }
  .social-icon {
    display: none;
  }
  .masthead-title {
    text-align: left;
  }
  .masthead-title small {
    display: inline;
  }
  .post-tags {
    display: none;
  }
}

@page {
  margin: 2.5cm;
}