---
layout: default
---

<div class="post">
  {% if page.image != null %}
    {% include post-featured-image.html image=page.image alt=page.image-alt %}
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  <span class="post-tags">
    {% if page.tags.size > 0 %}
      Tag{% if page.tags.size > 1 %}s{% endif %}:
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag#{{ tag_name | slugify }}"><nobr>{{ tag_name }}</nobr></code></a>&nbsp;
      {% endfor %}
    {% endif %}
  </span>
</div>

<!--
<div class="pagination">
  {% if page.previous %}
  <a class="pagination-item older" href="{{ page.previous.url | absolute_url }}">&laquo;{{ page.previous.title }}</a>
  {% else %}
  <span class="pagination-item older">Previous</span>
  {% endif %}
  {% if page.next %}
  <a class="pagination-item newer" href="{{ page.next.url | absolute_url }}">{{ page.next.title }}&raquo;</a>
  {% else %}
  <span class="pagination-item newer">Next</span>
  {% endif %}
</div>
-->
